<div class="container">
  <div class="heading"><h4 class="text-center">Signup Form</h4></div>
  <div
    *ngIf="alertClass !== '' && alertMessage !== ''"
    class="alert position-absolute top-10 start-0 w-100 text-center z-1"
    [ngClass]="alertClass"
    role="alert"
  >
    {{ alertMessage }}
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3 field-item">
      <label for="exampleInputEmail1" class="form-label"
        >Email address <span class="text-danger">*</span></label
      >
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        formControlName="email"
        aria-describedby="emailHelp"
        placeholder="Enter you email"
      />
      <div
        *ngIf="form.get('email')?.touched && form.get('email')?.invalid"
        class="text-danger"
      >
        <small *ngIf="form.get('email')?.hasError('required')"
          >Email is required.</small
        >
        <small *ngIf="form.get('email')?.hasError('email')"
          >Invalid email format.</small
        >
      </div>
      <div id="emailHelp" class="form-text">
        We'll never share your email with anyone else.
      </div>
    </div>
    <div class="mb-3 field-item">
      <label for="exampleInputName1" class="form-label"
        >Name <span class="text-danger">*</span></label
      >
      <input
        type="name"
        class="form-control"
        id="exampleInputName1"
        formControlName="name"
        aria-describedby="nameHelp"
        placeholder="Enter you name"
      />
      <div
        *ngIf="form.get('name')?.touched && form.get('name')?.invalid"
        class="text-danger"
      >
        <small *ngIf="form.get('name')?.hasError('required')"
          >Name is required.</small
        >
      </div>
    </div>

    <div class="mb-3 field-item">
      <label for="exampleInputPassword1" class="form-label"
        >Password <span class="text-danger">*</span></label
      >
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        formControlName="password"
        placeholder="Enter you password"
      />
      <div
        *ngIf="form.get('password')?.touched && form.get('password')?.invalid"
        class="text-danger"
      >
        <small *ngIf="form.get('password')?.hasError('required')"
          >Password is required.</small
        >
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
      Submit
    </button>
  </form>
</div>
