:host{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2%;
    padding: 1%;
}

div.organizer-card{
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2%;
}

div.event-list{
    width: 100%;
    height: 60%;
}