:host{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2%;
    padding: 1%;
}

div.user-card{
    width: 50%;
    height: 35%;
}

div.event-list{
    width: 100%;
    height: 60%;
}